.animatedBox {
    position: absolute;
    top: 200px;
    left: 300px;
    background-color: darkslateblue;
    color: #fff;
    padding: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
