:root {
    --backgroundC: #1CD3F8;
    --c1: #FFE800;
    --c2: #404040;
    --angle: 8px;
    --angle-o: 4px;
}

html, body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--backgroundC);
    font-size: 100%;
}

p {
    margin: 0;
    padding: 0;
}

/* SCROLL */

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.scroll {
    width: 50px;
    height: 500px;
    margin-bottom: 5px;
    background-color: #17a4c0;
}

/* BOX */

.hidden {
    display: none !important;
}

.box {
    position: fixed;
    top: calc(50vh - 100px);
    right: calc(50vw - 100px);
    width: 0px;
    height: 0px;
    background-color: var(--c1);
    color: var(--c2);
    border-radius: 0%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -10px 10px var(--c2);
}

.box p {
    font-size: 500%;
}

/* SCROLLBOX */

#scrollBox {
    position: fixed;
    top: 5vh;
    left: 8px;
    width: 100px;
    height: 50px;
    background-color: var(--backgroundC);
    color: #17a4c0;
    border: 5px solid #17a4c0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200%;
}

/* BUTTON */

.btnPos {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/* Button: https://codepen.io/screenthink/pen/ZeOyjP  */

.btn {
    top: 0;
    left: 0;
    transition: all .15s linear 0s;
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    background-color: var(--c1);
    text-transform: uppercase;
    color: var(--c2);
    letter-spacing: 1px;
    box-shadow: -6px 6px 0 var(--c2);
    text-decoration: none;
}

.btn:hover {
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 var(--c2);
}

.btn:hover::after {
    top: 1px;
    left: -2px;
    width: var(--angle-o);
    height: var(--angle-o);
}

.btn:hover::before {
    bottom: -2px;
    right: 1px;
    width: var(--angle-o);
    height: var(--angle-o);
}

.btn::after {
    transition: all 0.15s linear 0s;
    content: '';
    position: absolute;
    top: 2px;
    left: -4px;
    width: var(--angle);
    height: var(--angle);
    background-color: var(--c2);
    transform: rotate(45deg);
    z-index: -1;
}

.btn::before {
    transition: all 0.15s linear 0s;
    content: '';
    position: absolute;
    bottom: -4px;
    right: 2px;
    width: var(--angle);
    height: var(--angle);
    background-color: var(--c2);
    transform: rotate(45deg);
    z-index: -1;
}